<header id="top" class="tri">
    <nav id="links">
        <a href="/">Home</a>
        <a href="/">Recipes</a>
        <a href="/">My Recipes</a>
        </nav>
        
        <a href="#" id="search"><span class="pe pe-7s-search"></span></a>
  
  
      <form action='/recipe'>
  
        <div class="wrap">
          <div class="search">
             <input type="text" name="user_input" class="text-field" placeholder="Recipes?" >
             <!-- <input type="submit" value="Search recipes" /> -->
             <button type="submit" img src="https://img.icons8.com/cotton/2x/search--v2.png" class="searchButton">
               <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
  
  
      </form>
  
        <!-- Back to top button -->
        <!-- <a href="#" id="scrollToTop"><span class="pe pe-7s-up-arrow"> <img src="http://fa2png.io/r/stroke-7/up-arrow/?color=b9bbbe&margin=0&size=256"></span></a> -->
    </nav>
    <div id="logo">
        <span class="#placeholder"></span>
  
    </div>
  </header>