
{% extends 'cocktails/base.html' %}
 
{% load static %}
{% block content %}
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chooze Booze</title>
    <link rel="stylesheet" href="{% static 'cocktails/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"> --->
 
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom mb-5" >
        <div class="container"><a class="navbar-brand" href="#">Cb</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/accounts/logout">Log out</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/signup">Sign Up</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/accounts/login">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white" style="background-image:url({% static 'cocktails/bar.jpeg' %})">
        <div class="masthead-content">
            <div class="container"> 
                <h1 class="masthead-heading mb-0">Chooze Booze</h1>
                <img src="{% static 'cocktails/bar.jpeg' %}" alt="My image">
                <h2 class="masthead-subheading mb-0">A cocktail choosing experience.</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="/cocktails" style="background-color: rgb(54,10,13);">Click Here to begin</a></div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle" style="background-image: url({% static 'cocktails/d.jpeg' %})">
        </div>
        
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Indecesive? We get it.</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"> <img class="rounded-circle img-fluid" src = "url({% static 'cocktails/drink.jpeg' %})" style= "text/css"height: 377px;width: 463px;> </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Our random cocktail generator features hundreds of recipes.</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src= "url({% static 'cocktails/photo-1546171753-97d7676e4602.jpeg' %})" style="background-image: url(% static 'cocktails/photo-1546171753-97d7676e4602.jpeg' %});height: 547px;width: 470px;"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Chooze Responsibly</h2>
                        <p>Chooze Booze is intended only for people of legal drinking age 21+ to enter site.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Copyright&nbsp;© Brand 2018</p>
        </div>
    </footer>
    <script src=></script>
    <script src=></script>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>

{% endblock %}