<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RecipEats</title>
    <link href="base_style.css" rel="stylesheet">
    
  </head>
  
  <body>

    <nav>
      <div class="title">
        <div>Favorites</div>
      </div>
      
      <div class='dropdown'>
          <button class='dropbtn'>menu</button>
          <div class="dropdown-content">
              <a href="/favorites">Favorites</a>
              <a href="/upload">Upload</a>
              <a href="/settings">Settings</a>
          </div>
      </div>
    </nav>
    
    <main>
      {% block content %}

      {% end block %}
    </main>

    
  </body>
