
/* ********** MENU BAR  ************ */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;

}

.page_title {

    font-size: 5em;
}

.dropdown {
    /* display:block; */
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(165, 97, 42, 0);
    font-size: 3em;
    border: 1px;
}

.dropbtn:hover {
    color:rgb(165, 97, 42);
}


.dropdown-content {
display: none;

position: absolute;
padding: 20px 20px 20px 400px;
border: 0px;
margin: 0px;

right: 0;
background-color: rgb(228, 203, 182);
min-width: 10px;
z-index: 1;
} 
  
.dropdown-content a {
color: rgb(165, 97, 42);
padding: 20px 20px 20px 20px;
text-decoration: none;
display: block;
font-size: 5em;
} 

.dropdown-content a:nth-child(1) {
    padding: 100px 10px 10px 10px;
}

.dropdown-content a:nth-child(3) {
    padding: 200px 10px 10px 10px;
}


.dropdown:hover .dropdown-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


}




/* ********** BODY *********** */
body {
    background-color: rgb(252, 235, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

main {
    background-color: rgba(230, 179, 136, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1200px;
    padding: 20px;

}

.left-side {
    background-color: rgb(148, 99, 57);
    left: 0;
    height: 800px;
    width: 1000px;
    margin: 10px;
    border: 2px solid;
    padding: 20px;
}

.right-side {
    background-color: antiquewhite;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 1000px;
    width: 1000px;
    
}




.ingredients > h2 {
    margin: 5px;
}

.ingredients {
    text-align: left;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    border: 2px dotted;
    height: 500px;
    width: 100%;
}


.recipe > h2 {
    margin: 5px;
}

.recipe {
    border: 2px dotted;
    margin: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
