

/* ********** MENU BAR  ************ */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;

}

.page_title {

    font-size: 5em;
}

.dropdown {
    /* display:block; */
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(165, 97, 42, 0);
    font-size: 3em;
    border: 1px;
}

.dropbtn:hover {
    color:rgb(165, 97, 42);
}


.dropdown-content {
display: none;

position: absolute;
padding: 20px 20px 20px 400px;
border: 0px;
margin: 0px;

right: 0;
background-color: rgb(228, 203, 182);
min-width: 10px;
z-index: 1;
} 
  
.dropdown-content a {
color: rgb(165, 97, 42);
padding: 20px 20px 20px 20px;
text-decoration: none;
display: block;
font-size: 5em;
} 

.dropdown-content a:nth-child(1) {
    padding: 100px 10px 10px 10px;
}

.dropdown-content a:nth-child(3) {
    padding: 200px 10px 10px 10px;
}


.dropdown:hover .dropdown-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


}


/* ********** BODY *********** */
body {
    background-color: rgb(252, 235, 220);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;

}

main {
    background-color: rgba(230, 179, 136, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid;
    height: 1000px;

}

.form {
    border: 2px solid;
    text-align: center;
    height: 60px;
    width: 300px;
}



/* *************** CARD *********** */
.outerbox {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    height: 420px;
    width: 300px;
    margin: 10px;
    border-radius: 0.25em;
}

.imagebox {
    background-color: rgb(94, 94, 94);
    justify-content: center;
    border: 2px solid;
    height: 210px;
    width: 280px;
    margin: 5px;
    border-radius: 0.15em;
}

.title {
    background-color: None;
    border: 1px solid;
    color: black;
    text-align: left;
    text-decoration: none;
    height: 40px;
    width: 280px;

}

.textbox {
    background-color: None;
    border: 1px solid;
    color: black;
    text-align: left;
    justify-content: center; 
    height: 140px;
    width: 280px;
    margin: 5px;
    
}

