

body {
    background-color: rgba(230, 179, 136, 0.808);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    margin: 30px;
}

.main-title {
    background-color: rgb(252, 235, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

.title {
    font-size: 3em;
}

.title-text {
    font-size: 1em;
}

.description {
    font-size: 2em;
}

.upload {
    font-size: 2em;
    border: 2px solid;
    padding: 20px;
    justify-content: center;
    height: 150px;
    align-items: center;
    text-align: center; 
}