@font-face {
	font-family: 'UpperEastSide';
	src: url(../../assets/fonts/UpperEastSide.woff2) format('woff2'),
	url(../../assets/fonts/UpperEastSide.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}