<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RecipEats</title>
    <link href="/static/base_style.css" rel="stylesheet">
    <link href="/static/card_style.css" rel="stylesheet">

  </head>
  
  <body>

    <nav>
      <div class="page_title">
        <div>Favorites</div>
      </div>
      
      <div class='dropdown'>
          <button class='dropbtn'>menu</button>
          <div class="dropdown-content">
              <a href="/favorites">Favorites</a>
              <a href="/upload">Upload</a>
              <a href="/settings">Settings</a>
          </div>
      </div>
    </nav>
    
    <main>
      {% block content %}

        <div class="form"> 
          <form action="upload_photo" method="POST" enctype="multipart/form-data">
            Upload File: <input type="file" name="file"><br>
            <input type="submit" name="submit" value="Submit">
          </form>
        </div>

        
        <div class="outerbox">
          <div class="imagebox">
              <!-- fig caption ??  -->
              <!-- <a href="{url "uploads/images"></a> -->
          </div>
          <div class="title">
              <h5 class="card-title">{{ stuff }}</h5>
          </div>
          <div class="textbox" aria-placeholder="recipe / ingredients">
              <p class="card-text">{{ stuff }}
              </p>
          </div>
      </div>

      {% endblock %}
    </main>

    
  </body>
